<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/styles/history.css">
</head>

<body>
    <nav>
        <div class="logo">S-Readers</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a  href="/home">예약</a></li>
          <li><a class="active" href="/history">예약 내역</a></li>
          <li><a  href="/profile">내 프로필</a></li>
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      </nav>

    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">Reservation History</h4>
      
      <div class="card overflow-hidden">
          <div class="row no-gutters row-bordered row-border-light">
              <table id="historyTable" class="table">
                  <thead>
                      <tr>
                          <th scope="col">No</th>
                          <th scope="col">Room</th>
                          <th scope="col">Seat number</th>
                          <th scope="col">Start time</th>
                          <th scope="col">End time</th>
                          <th scope="col">Status</th>
                      </tr>
                  </thead>
                  <tbody id="historyBody">
                      <% data.reverse().forEach((record, index) => { %>
                          <tr>
                              <td><%= index + 1 %></td>
                              <td><%= record.room %></td>
                              <td><%= record.seat_number %></td>
                              <td><%= record.start_time %></td>
                              <td><%= record.end_time %></td>
                              <td><%= record.status %></td>
                          </tr>
                      <% }); %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

    <script>
        
    </script>
</body>

</html>
